.cart>span {
    position: absolute;
    display: inline-block;
    right: -7px;
    top: -2px;
    font-size: 13px;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    background-color: #222;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}