.signUp {
    padding: 20px;
    background-color: rgb(83, 12, 124);


}

.signUp-form {
    background-color: #fff;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    box-shadow: 2px 2px 20px 20px rgba(177, 95, 177, 0.2);
    padding: 20px;
    width: 21%;
}

.input {
    box-shadow: 2px 2px 15px 1px rgba(29, 18, 185, 0.507);

}

.btn {
    background-color: rgb(26, 89, 207);
    border: solid 1px rgba(26, 89, 207, 0.4) !important;
    color: #fff;
}



.loader {
    width: 16px;
    height: 16px;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 4px;
    background: currentColor;
    display: block;
    margin: -50px auto 0;
    position: relative;
    color: #FFF;
    transform: translateY(30px);
    box-sizing: border-box;
    animation: animloader 2s ease infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 4px;
    background: currentColor;
    color: #FFF;
    position: absolute;
    left: 30px;
    top: 0;
    animation: animloader 2s 0.2s ease infinite;
}

.loader::before {
    animation-delay: 0.4s;
    left: 60px;
}

@keyframes animloader {
    0% {
        top: 0;
        color: white;
    }

    50% {
        top: 30px;
        color: rgba(255, 255, 255, 0.2);
    }

    100% {
        top: 0;
        color: white;
    }
}

.clear-products { 
    position: absolute;
    bottom: 0;
    
}
.clear-products button {
    color: #525f7f;
}